@using OnlineStore.Models
@model Product

<!-- Favicon  -->
<link rel="icon" href="~/img/core-img/favicon.ico">

<!-- Core Style CSS -->
<link href="~/css/core-style.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<!-- Responsive CSS -->
<link href="~/css/responsive.css" rel="stylesheet" />
<!-- Popper js -->
<script src="~/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="~/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="~/js/plugins.js"></script>
<!-- Active js -->
<script src="~/js/active.js"></script>

<script>
    $(document).ready(function myfunction() {
        $(".addtobasket").click(function myfunction() {
            var uid = $(this).attr("data-id");
            $.ajax({
                type: "GET",
                url: "/Cart/AddBasket",
                data: { id: uid },
                success: function myfunction() {
                    $.ajax({
                        type: "GET",
                        url: "/Cart/MiniBasket",
                        async: false,
                        success: function VeriGetir(veri) {
                            console.log("test");
                            $(".cart-all").html('');
                            $(".cart-all").html(veri);

                        }

                    })
                },
                error: function myfunction() {
                    alert("Hata : Ürün Sepete Eklenemedi.");
                }
            });
        });
    });


</script>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-5">
            <div class="quickview_pro_img">
                <img src="~/img/product-img/@Model.ImageName" alt="">
            </div>
        </div>
        <div class="col-12 col-lg-7">
            <div class="quickview_pro_des">
                <h4 class="title">@Model.Name</h4>
                <div class="top_seller_product_rating mb-15">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <h5 class="price">$120.99 <span>$130</span></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia expedita quibusdam aspernatur, sapiente consectetur accusantium perspiciatis praesentium eligendi, in fugiat?</p>
                <a href="/Home/GetProductDetail/@Model.Id">Tüm özellikleri gör</a>
            </div>
            <!-- Add to Cart Form -->
            <form class="cart" method="post">
                <div class="quantity">
                    <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if (!isNaN(qty) & qty == 1 ) effect.value--; return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>

                    <input type="number" class="qty-text" id="qty" step="1" min="1" max="12" name="quantity" value="1">

                    <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                </div>
                <button type="submit" data-id="@Model.Id" value="5" class="cart-submit addtobasket">Sepete Ekle</button>
                <!-- Wishlist -->
                <div class="modal_pro_wishlist">
                    <a href="wishlist.html" target="_blank"><i class="ti-heart"></i></a>
                </div>
                <!-- Compare -->
                <div class="modal_pro_compare">
                    <a href="compare.html" target="_blank"><i class="ti-stats-up"></i></a>
                </div>
            </form>

            <div class="share_wf mt-30">
                <p>Share With Friend</p>
                <div class="_icon">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

