@using OnlineStore.Models
@model List<Cart>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <li class="cart-all">
            <a href="#" class="image"><img src="~/img/product-img/@item.Product.ImageName" class="cart-thumb" alt=""></a>
            <div class="cart-item-desc">
                <h6><a href="#">@item.Product.Name</a></h6>
                <p>@item.Count x - <span class="price">@item.Product.Price.SalingPrice ₺</span></p>
            </div>
            <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
        </li>
    }

    <li class="total">
        <span class="pull-right">Toplam: </span>
        <a href="/Cart/MyCart" class="btn btn-sm btn-cart gotobasket">Sepetim</a>
        <a href="/Cart/Checkout" class="btn btn-sm btn-checkout">Kontrol Et</a>
    </li>
}



